@use '../../style/fonts'

body
    background: #EEE radial-gradient(rgba(240,240,240,0), #444)
    font-family: Playfair, "Liberation Serif", "Times New Roman", Times, serif
    font-size: 50px

h1,h2
    font-size: 1.8em
    margin: 0 0 .6em 0
h3
    font-size: 1.6em
h4
    font-size: 1.4em
h5
    font-size: 1.2em
h6
    font-size: 1.0em
big
    font-size: 1.6em
a
    color: #000
strong
    text-shadow: 0 0 .5em #FE0, 0 0 .5em #FE0

.step
    width: 1024px
    transition: 1s

.full
    width: 1024px
    height: 768px
    display: flex
    flex-direction: column
    justify-content: space-between
    h1,h2,h3,h4,h5,h6
        margin: 0

.spoiller
    opacity: 0
    pointer-events: none
    &:is(.present, .active)
        opacity: 1
        pointer-events: all
    &.past
        opacity: 0.3
        pointer-events: all

.split-step
    opacity: 0
    &.active, &.present
        opacity: 1
    > *
        opacity: 0

.orig-split-step.split-active
    opacity: 1

.in-step
    opacity: 0
    &.cur-in-step
        opacity: 1
    &.old-in-step
        opacity: .6

.center
    text-align: center
    align-self: center
    margin: auto

.by-me
    text-align: right
    a
        color: inherit
        text-decoration: none
        &::before
            content: ""
            display: inline-block
            width: .9em
            height: .9em
            background: 50% 50% url(/imgs/aurium-vulcan-60.png)
            background-size: contain
            vertical-align: middle
            margin-left: .2em

#webcam
    position: absolute
    right: -3vw
    bottom: -3vw
    width: 22vw
    height: 22vw

#vidBox
    position: absolute
    right: 1vw
    bottom: 1vw
    border: 2px solid rgba(0,0,0,.3)
    border-radius: 8vw
    width: 16vw
    height: 16vw
    overflow: hidden
    display: none
