doctype html
html
    head
        meta(charset="utf-8")
        title= pag_title
        link(rel="icon" type="image/png" href="/imgs/aurium-vulcan-favicon.png")
        link(rel="canonical" href="http://aurium.one/")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        meta(name="theme-color" content="#FB0")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="apple-touch-icon" href="/imgs/aurium-vulcan-60.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/imgs/aurium-vulcan-120.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/imgs/aurium-vulcan-180.png")
        meta(property="og:site_name" content="Aurium")
        meta(property="og:title" content="Aurium (AKA Aurélio A. Heckert)")
        meta(property="og:description" content="Programmer, FOSS developer and user.")
        meta(property="og:image" content="/imgs/aurium-vulcan-120.png")
        link(href="https://unpkg.com/impress.js@1.1.0/css/impress-common.css" rel="stylesheet")
        link(href="style.css?t=%BUILD_DATE%" rel="stylesheet")
    body
        #impress(
            data-transition-duration=pag_impress_trans_dur||1000
            data-width="1024"
            data-height="768"
            data-perspective="1000"
        )
            block impress
        #vidBox
            video(id="webcam" autoplay playsinline width="480" height="480")
        script(src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js")
        script(src="https://unpkg.com/impress.js@1.1.0/js/impress.js")
        script.
            // Ensure all steps has an id:
            document.querySelectorAll('#impress .step').forEach((step, i)=> {
                if (!step.id) step.id = 'step-' + (i+1)
                step.querySelectorAll('.in-step').forEach((inStep, i)=> {
                    if (!inStep.id) inStep.id = 'in-step-' + (i+1)
                })
            })
            // Create extra steps to display inner steps:
            document.querySelectorAll('#impress .in-step').forEach((inStep, i)=> {
                const step = inStep.parentElement
                if (!step.classList.contains('step')) return console.error(
                    Error(
                        `Inner Step "${inStep.outerHTML}" is not a step child.` +
                        `\nParent: ${step.outerHTML.replace(/>.*/sm,'>')}`
                    )
                )
                step.classList.add('split-step--' + step.id)
                step.classList.add('orig-split-step')
                if (!step.lastInStep) step.lastInStep = step
                const stepCopy = step.lastInStep.cloneNode(true)
                step.lastInStep.after(stepCopy)
                step.lastInStep = stepCopy
                step.orig = step
                stepCopy.orig = step
                stepCopy.id = step.id + '--' + inStep.id
                stepCopy.classList.remove('orig-split-step')
                stepCopy.classList.add('split-step')
                stepCopy.querySelectorAll('.cur-in-step').forEach(oldInStep=> {
                    oldInStep.classList.remove('cur-in-step')
                    oldInStep.classList.add('old-in-step')
                })
                const inStepCopy = stepCopy.querySelector('#'+inStep.id)
                inStepCopy.classList.add('cur-in-step')
            })
            // Globally know when inside a split step:
            const impressRoot = document.querySelector('#impress')
            const bodyClasses = document.body.classList
            impressRoot.addEventListener('impress:stepenter', ev=> {
                if (ev.target.className.match(/split-step/)) {
                    const klass = 'impress-on--split--' + ev.target.orig.id
                    bodyClasses.add(klass)
                    ev.target.orig.classList.add('split-active')
                }
            })
            impressRoot.addEventListener('impress:stepleave', ev=> {
                if (ev.target.className.match(/split-step/)) {
                    const klass = 'impress-on--split--' + ev.target.orig.id
                    const delay = impressRoot.dataset.transitionDuration * .9
                    setTimeout(()=> {
                        bodyClasses.remove(klass)
                        ev.target.orig.classList.remove('split-active')
                    }, delay)
                }
            })
            // Start the presentation:
            impress().init()
            const vidBox = document.querySelector('#vidBox')
            const webcamEl = document.querySelector('#webcam')
            const webcam = new Webcam(webcamEl, 'user')
            window.addEventListener('keyup', ev =>
              ev.key !== 'v' ? 0 : webcam.start()
              .then(result => vidBox.style.display = 'block')
              .catch(err => console.log('WebCam Fail!', err))
            )
