@use 'projects'

@mixin page
    background: #EEE no-repeat url(imgs/aurium-vulcan.svg) 90% 100%
    background-attachment: fixed
    background-size: contain

    body
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0 5vw

    header h1
        text-shadow: 0 0 0.05em #FD0, 0 0 0 #E90
        font-size: 10vw
        margin: 0
        #subtitle1, #subtitle2
            font-size: .255em
            letter-spacing: .057em
            opacity: 0.3
            color: rgba(0, 0, 0, 0.5)
            text-shadow: none
            display: block
            margin-top: -.8em
        #subtitle2
            font-size: .175em
            margin-top: 0
            letter-spacing: .03em

    @media screen and (max-width: 780px)
        html
            background-position: 90% 33vw

        body
            font-size: 20px

        header h1
            font-size: 26vw
            margin-top: -3vw

    @media screen and (max-width: 400px)
        body
            font-size: 22px

    article
        padding: 5vw 0
        line-height: 1.5em

    #pre-footer
        border: none
        margin: 0

    footer
        padding-bottom: 3vw

    h2
        margin: 0
        font-weight: 900
        color: rgba(0, 0, 0, 0.6)
        text-shadow: none
        font-size: 1em
        &.same-p-line
            float: left
            margin: -.1em 0.5em 0 0
        //&.same-p-line ~ p

    article
        p
            Xmargin: 1em 0
        a
            background: #EEE
            padding: 0 0.2em
            border-radius: 0.2em
            margin: 0 -0.2em
        span
            position: relative
            z-index: 2

    .contact::before
        color: #000
        content: "✉️"
        display: inline-block
        width: 2.5em
        line-height: 2.5em
        text-align: center
        text-shadow: 0 0 2px rgba(0,0,0,.8)
        $c1: #FA0, transparent, #FA0, transparent, #FA0
        $c2: transparent, #FA0, transparent, #FA0, transparent
        background: conic-gradient($c1, $c2, $c1, $c2, $c1, $c2, $c1)
        mask-image: radial-gradient(#FFF 40%, #000 70%)
        mask-size: cover
        mask-mode: luminance

    #projects
        //@include projects.list
        li h3
            margin: 0
            font-size: 1em

    #activity
        margin: 0.5em 1em
        padding: 0

    #activity li
        margin: 0
        padding: 0

    #activity li::marker
        color: #EA0

    #activity a
        color: rgba(0,0,0,0.8)
        font-weight: normal
        background: transparent
        text-shadow: none
        white-space: nowrap

    #activity .ev-intro
        display: inline-block
        vertical-align: middle
        font-weight: bold
        overflow: hidden
        text-overflow: ellipsis
        max-width: 40vw
