@mixin list
    margin: 0 -2vw
    padding: 0

    li.project
        display: inline-block
        position: relative
        margin: 1vw
        padding: 0.7vw 0.5vw 0.7vw 7.5vw
        list-style: none
        box-sizing: border-box
        width: 29vw
        overflow: hidden
        background: #EEE
        border-radius: 1em
        box-shadow: 0.1em 0.1em 0.6em rgba(0,0,0,0.2)

    .pic
        display: flex
        justify-content: center
        align-items: center
        list-style: none
        position: absolute
        left: 0
        top: 0
        bottom: 0
        margin: 0
        padding: 0
        width: 7vw
        background: #FD0
        box-shadow: inset 0 0 2vw #D80
        border-radius: 0
        border: none
        font-size: 5vw
        overflow: hidden
    &.image div
        width: 100%
        height: 100%
        background-size: cover
        background-position: 50% 50%
    &.letter div
        color: #EA0
        text-shadow: -1px -1px 0 #FF6, 1px 1px 0 rgba(160,140,0,0.2)

    li.project .info
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 4.5em

    h3
        margin: 0
        padding: 0
        font-weight: 900
        text-shadow: none
        font-size: 1em
        a
            background: transparent
            border: none
            color: rgba(0, 0, 0, 0.6)

    .description
        margin: 0
        font-size: 0.8em
        line-height: 1em
        white-space: nowrap
        height: 1.1em
        overflow: hidden
        text-overflow: ellipsis
        margin-bottom: 0.3em
        a
            background: transparent

    .footer
        font-size: 0.7em
        line-height: 1em
        max-height: 2.7em
        overflow: hidden
        position: relative
    &.big::after
        content: "..."
        position: absolute
        font-weight: "bold"
        bottom: 0
        right: 0
        background: rgba(238,238,238,0.6)

    ul.langs
        margin: 0 -0.2em
        padding: 0

        li
            list-style: none
            margin: 0 0.2em
            padding: 0
            display: inline-block
            white-space: nowrap

        li::before
            content: ""
            display: inline-block
            margin-right: 0.2em
            width: 0.6em
            height: 0.6em
            border-radius: 0.6em
            background: #BBB
            border: 1px solid rgba(0,0,0,0.3)

        li.lang-0::before
            background: #D55
        li.lang-1::before
            background: #5C5
        li.lang-2::before
            background: #66C
        li.lang-3::before
            background: #DC0
        li.lang-4::before
            background: #5CC
        li.lang-5::before
            background: #D6D
        li.lang-6::before
            background: #2C8
        li.lang-7::before
            background: #E91
        li.lang-8::before
            background: #E99
        li.lang-9::before
            background: #A5D

    ul.sub-projects
        margin: 0
        padding: 0

    ul.sub-projects li
        list-style: none
        display: inline-block
        margin: 0.1em
        padding: 0.1em 0.2em
        border-radius: 0.3em
        background: #DDD
