html
    height: 100%
    background: #EEE
    box-shadow: inset 0 0 15vw rgba(0, 0, 0, 0.3)
    overflow: hidden

body
    background: transparent
    margin: 0
    padding: 0
    height: 100%
    color: rgba(0, 0, 0, 0.7)
    font-size: 18px
    font-family: Playfair, "Liberation Serif", "Times New Roman", Times, serif
    overflow: auto

a
    color: #E90
    text-shadow: -1px 0 0 #FD0
    text-decoration: none
    border-bottom: 0.08em dotted rgba(255, 221, 0, 0.5)

    &:hover
        border-bottom: 0.09em dotted #FD0

h1, h2, h3, h4, h5, h6
    color: transparent
    font-weight: lighter
    text-shadow: 0 0 0.06em #FD0, 0 0 0 #E90
    margin: 1em 0

h1
    font-size: 2.5em
h2
    font-size: 2.1em
h3
    font-size: 1.8em
h4
    font-size: 1.6em
h5
    font-size: 1.4em
h6
    font-size: 1.2em

#root.lang-pt [lang="en"], #root.lang-en [lang="pt"]
    display: none

.icon-love
    display: inline-block
    padding: 0 0.1em
    position: relative
    font-family: "Liberation Sans", Arial, sans-serif
    font-style: normal

    &::before
        content: "\2665"
        color: #C00
        opacity: 0
        font-size: 1.2em
        transition: 4s 12s
        .after-dom-load  &
            opacity: 1

    &::after
        content: "<3"
        display: block
        position: absolute
        top: 0.05em
        left: -0.1em
        transition: 5s 8s, 5s 12s opacity
        .after-dom-load &
            color: #C00
            transform: rotate(-90deg) scale(.7, 1)
            letter-spacing: -0.15em
            top: 0.12em
            left: 0.03em
            opacity: 0

.loading
    text-align: center
    &::before
        content: ""
        display: inline-block
        width: 1em
        height: 1em
        border-radius: 1em
        border: 0.25em solid rgba(240,220,0,1.0)
        border-right: 0.20em solid rgba(240,220,0,0.7)
        border-bottom: 0.15em solid rgba(240,220,0,0.4)
        border-left: 0.15em solid transparent
        animation: 2s linear infinite loading-ani

@keyframes loading-ani
    from
        transform: rotate(0deg)
    to
        transform: rotate(-360deg)
