@font-face
    font-family: 'Playfair'
    font-style: italic
    font-weight: 400
    src: url('PlayfairDisplay-Italic.ttf') format('truetype')

@font-face
    font-family: 'Playfair'
    font-style: italic
    font-weight: 700
    src: url('PlayfairDisplay-BoldItalic.ttf') format('truetype')

@font-face
    font-family: 'Playfair'
    font-style: italic
    font-weight: 900
    src: url('PlayfairDisplay-BlackItalic.ttf') format('truetype')

@font-face
    font-family: 'Playfair'
    font-style: normal
    font-weight: 400
    src: url('PlayfairDisplay-Regular.ttf') format('truetype')

@font-face
    font-family: 'Playfair'
    font-style: normal
    font-weight: 700
    src: url('PlayfairDisplay-Bold.ttf') format('truetype')

@font-face
    font-family: 'Playfair'
    font-style: normal
    font-weight: 900
    src: url('PlayfairDisplay-Black.ttf') format('truetype')

