//- O build usa as variáveis abaixo para alimentar o layout
//- pag_title="Licenciamento para REA"
//- pag_impress_trans_dur = 1500
extends /presentation/page

block impress
    #ini.full.center.step(data-x="0" data-y="0")
        h1 Licenciamento para REA
        big O que significa licenciar e como isso se aplica a Recursos Educacionais Abertos?
        .by-me por
            a(href="http://aurium.one") Aurélio Heckert
        .notes
            p Eu sou Aurélio Heckert, não estudei direito estou falando da posição de alguém que sentiu a necessidade de entender deste assunto por trabalhar no desenvolvimento de softwares livres (também chamados de abertos) e por me interessar pelo movimento de cultura livre e, apesar de tudo, ainda ser educador.
            p Então hoje vamos falar sobre o que significa licenciar e como isso se aplica a Recursos Educacionais Abertos?

    #liberdade.step(data-x="0" data-y="-600" data-rotate-x="40")
        h2 REA? e...<br>Como definimos algo como livre ou aberto?
        .notes
            p Eu preciso começar dizendo que *não* existe software educativo, texto educativo, ou ferramenta educativa, no sentido em que os fora dessa categoria não podem educar. Tudo educa. MS Word pode ser usado com fins educacionais, assim como o Inkscape, uma charge de jornal, ou o Minecraft. O que diferencia o nosso trabalho como educador é a intenção. Nós temos um objetivo... daí o valor dos chamados recursos educacionais, onde a intenção já estava no projeto.
            p Para além da intencionalidade, o REA provê também liberdade para educadores e estudantes.
            p Mas como definimos algo como livre ou aberto?
            p O dicionário webster define "livre" como:
            ul
                li a ausência de necessidades, coerção ou restrição na escolha ou ação.
                li de uso irrestrito.
                li dentre outras...
            p E "aberto" é definido como:
            ul
                li sem barreira de fechamento ou confinamento.
                li permite a passagem.
                li exposto e vulnerável a ataque.
                li disponível ao uso ou compra.
                li dentre outras...
            p Muito abstrato, não?
            p Não existem limites claros para definir algo como livre ou aberto, ou na realidade nada o é. Isso porque na realidade não existe liberdade ou abertura como um termo absoluto.
            p Ser realmente livre exige total irrestrição às ações? Então posso fazer alguém tropeças quando estiver intediado? Posso divulgar informação falsa para prejudicar quem eu não gosto? Posso decidir viajar e descançar na cama da primeira casa que encontrar quando estiver cançado?
            p QUIZ 1

    #pra-que.spoiller.step(data-x="0" data-y="-800" data-rotate-x="0")
        h2 Liberdade pra quê?
        div (e pra quem?)
        li.in-step escala de valores
        li.in-step publico alvo e prioritários
        .notes
            p Para definir algo como livre preciso responder responder: liberdade pra que? E como é possivel encontrar conflitos de interesse, também é necessário responder: Para quem?
            p &rarr;
            p Precisamos definir uma escala de valores. Isso é tão importante que esse é basicamante o ponto que separou os movimentos Free Software e Open Source. (mas isso é outra história...)
            p A escala de valores não é uma simples lista, é uma lista ordenada, contendo não só os seus valores, mas uma ordem de importância ou prioridade entre eles. Por exemplo:
            ul
                li confiabilidade das fontes deve sobrepor / agilidade na atualização?
                li permitir lucro a terceiros /ou/ questionar a mercantilização da educação?
                li permitir derivações restritas /ou/ aceitar meios estabelecidos em prol da popularização agil?
            p &rarr;
            p Quem tem prioridade na fila das garantias?
            ul
                li a instituição financiadora?
                li os educadores?
                li os estudantes? estudantes da instituição ou de todo o mundo?
            p Após responder essas questões você poderá ter mais clareza sobre que liberdades deve garantir.
            p QUIZ 2

    #copyright.full.spoiller.step(data-x="800" data-y="-1000" data-rotate-z="-90" data-scale=".8")
        h2 O que é Copyright?
            big &copy;
        li#exclusiv.in-step Exclusividade
        li#transfer.in-step Transferível
        li#licenciamento.in-step Seu dono é quem define o licenciamento
        li#mickey.in-step De Gutenberg a Mickey Mouse
        hr
        .notes
            p Copyright é um dos direitos dentro da propriedade intelectual. Ele é o mais relevante aqui pelos pontos que vou levantar:
            p &rarr;
            p Ele garante exclusividade. Como dono do direito de cópia, você pode restringir outros de copiar um produto intelectual ou definir em que termos alguém pode fazer. Isso torna o bem intelectual que é não rival em rival, artificialmente. Bem rival é aquele que quando você usa, você impede outros de usar. Um sabonete é um bem rival, um livro é um bem rival, mas a história dentro do livro, não. Por isso o autor da história (ou o seu contratante) tem o copiright.
            p Mas, como você pode ver nessa charge de 1800 e pouco esse não é um direito fácil de se garantir. Nessa data já haviam leis de copyright, mas não acordos internacionais, ou ao menos não suficientemente efetivos. Essa imagem denuncia uma pática da época, onde donos de gráficas compravam obras recem lançadas em um país e a republicavam em outro sem pagar direitos ao autor. (Aí você bandeiras dos EUA, Alemanha, França e inglaterra e cada marinheiro representa um autor "roubado")
            p Só no final deste século foi estabelecida uma convenção internacional para proteção do copyright.
            p QUIZ 3
            p &rarr;
            p Por ser transferível, o copyright da status de mercadoria à produção intelectual, dado que agora não existe apenas o serviço de criação desses produtos, mas a negociação e troca dos mesmos.
            p &rarr;
            p Como já dei a entender antes, o dono do copyright pode dizer como outros podem fazer uso desse produto. Isso é feito via licenciamento.
            p &rarr;
            p Mas, como você devem saber a história que sucedeu aquela charge não terminou bem... O gráfico que vocês podem ver aí mostra a evolução da duração do copyright, antes do trabalho cair em domínio público nos EUA. Talvez eu devesse mostrar dados específicos do Brasil, mas não espere nada muito diferente. O Brasil, assim como a maior parte dos países, é signatários dos mesmos acordos internacionais que definem a duração do copyright.
            p Bem, mas qual é a história desse gŕáfico?
            p Johannes Gutenberg inventou a prensa por volta de 1440 e ela começou a se popularizar na Europa a partir daquele século. As cópias das produções litarárias e acadêmicas tiveram seu preço drásticamente reduzido, o que permitiu o acesso por pessoas de menor renda. Defende-se que a cópia irrestrita permitiu a capacitação e industrialização da Alemanha.
            p Mas qualquer dono de gráfica, ou locatário, poderiam pegar uma publicação, organizar os tipos numa prancha e re-publicar. Isso exigia um fluxo constante de material novo para as gráficas.
            p Essa demanda representava uma renda extra para acadêmicos, mas a "pirataria" não deixava donos de gráficas e autores muito felizes.
            p Por pressão daqueles empreendedores a Inglaterra estabeleceu a primeira lei de copyright em 1710 (na verdade houveram atos governamentais anteriores, mas eu não sou qualificado para afirmar se já eram o que hoje chamamos de copyright). Na Alemanha o mesmo só foi feito por volta de 1840.
            p Como resultado as produções de baixo custo desapareceram e foram substituidas por edições de menor número e mais caras. A distribuição de material tecnico e científico também diminuiu.
            p Eu sou sensivel à reclamação dos empreendedores e autores pré copyright, mas o efeito colateral da solução também me incomoda. Mas calma... ainda fica pior.
            p As primeiras leis protegiam o trabalho por alguns anos, por exemplo a lei americana de 1790, concedia o copyright por 14 anos, extensivel por mais 14. Varias leis foram lançadas e atulizadas pelo mundo, sempre com um almento no número de anos de copyright, até chegarmos à convenção de Berna, na Suiça, em 1886, onde o copyright passou a durar a vida do autor + 50 anos, NO MÍNIMO. Os estados participantes podiam definir periodos ainda maiores. A convenção não foi ratificada pelos legisladores de cada país de imediato, mas acabaram sendo acatadas com apoio do lobby. Em especial da Disney, preocupada em perder o seu mascote Mickey Mouse.
            p Se o lobby não ganhar mais uma o Mikey finalmente entra em domínio público em 2024, mas não o Mikey que você conhece... é o original de 1928.
            p A moral da história aqui não é sobre o quão difícil se tornou criar livremente obras derivadas do Mikey ou outros grandes símbols culturais, mas a grande massa de produtos culturais que não são reproduzidos ou derivados porque não vale nem o custo de buscar o licenciamento. Tudo porque alguns donos de copyright quiseram manter um bem não rival, artificilamente rivalizado por mais tempo.
            p QUIZ 4

    #licencas1.spoiller.step(data-x="1400" data-y="-940" data-rotate-z="-60" data-scale=".7")
        h2 O que são licenças livres ou abertas?
        .in-step As 4 liberdades:
            li A liberdade de usar como você desejar.
            li A liberdade de estudar como o funciona, e modificar.
            li A liberdade de redistribuir cópias.
            li A liberdade de distribuir cópias de suas versões modificadas.
        .in-step The Open Definition (by Open Knowledge)
            li 100% disponibilizado
            li Legível por máquina
            li Formato aberto
            li Sem discriminação de pessoas ou grupos
            li Gratuito
            li ...
        .in-step Freedom Defined = Free Cultural Work
        .notes
            p Ok, o copyright acabou se tornando um grande problema para a disseminação de conhecimento, mas um bom licenciamento pode remediar isso enquanto ele existir.
            p Antes de tudo: Licenças são permições de uso de um produto intelectual, seja um software, uma música ou um desenho. Tecnicamante são textos escritos na língua dos advogados e nós precisamos de um resumo traduzido em linguagem humana para entendermos o que uma licença exige ou permite.
            p As licenças livres (ou abertas) foram uma resposta às demandas daqueles que já haviam pensado em que liberdades deveriam ser garantidas. Lá, em meio a cultura hacker da década de 70. Em especial Richard Stallman. Stallman foi quem sintetizou as 4 liberdades.
            p &rarr;
            p Essas 4 liberdades subvertem o uso comum do copyright e foram difundidas pela Free Software Foundation, posteriormente sofreram uma releitura e se tornaram 10 pontos mais específicos e um pouco menos abstratos pelo Debian, a "Debian Free Software Guideline". No ano seguinte esses 10 pontos se tornaram a definição de Open Source, na ocasião da fundação da Open Source Iniciative. E é por isso que tenho que falar "livre ou aberto" a todo momento, porque ambos significam tecnicamante a mesma coisa, mas muitas pessoas conhecem apenas um dos termos. A diferença real entre os dois termos, na verdade está no discurso e na escala de valores de cada um dos lados, não no produto intelectual que promovem. E por isso REA é livre.
            p &rarr;
            p Stallman ou as derivações de sua sintese não concluiram a discussão sobre liberdade. O mundo evoluiu da década de 80 até hoje e novos desafios disputam a área cinza entre o que é ou não livre. O pessoal da Open Knowledge, no site opendefinition.org, decidiu deixar alguns outros detalhes mais claros. Esses que listei são as adições que achei mais relevantes.
            ul
                li 100% disponibilizado - tudo o que é necessário para o produto funcionar deve ser entregue de uma vez, ou deve poder ser baixado da internet, sem custos.
                li Legível por máquina - Ele mesmo ou uma versão dele, de forma que os elementos individuais sejam diretamente acessiveis para leitura ou modificação. Note que isso não é importante só para a educação, mas também para a transparencia do governo pela lei de dados abertos. Infelizmante hoje dentre outros problemas, unidades do governo ainda publicam documentos escaneados em PDF e alegam estar fazendo o suficiente porque o arquivo final é um PDF.
                li Formato aberto - O formato do produto não pode exigir o uso de um software fechado ou qualquer outra estratégia onerosa. Portanto, já é bom perceber que REA publicado como arquivo de MS Word ou imagem de Corel Draw não se encaixa na "Open Definition". E sim, a UNESCO referência a OpenDefinition.org na definição de "aberto".
                li Sem discriminação de pessoas ou grupos - Auto explicativa.
                li Gratuito - A licença não pode impor nenhum tipo de taxa. Isso pode ser sub entendido na nas 4 liberdades ou na DFSG, mas é discutivel... Isso não significa que não se pode viver disso na iniciativa privada. A própria UNESCO diz "Alguns defensores dos REA dizem que a principal vantagem do conteúdo aberto é que é “gratuito”, mas essa visão é simplista". Bem... Assim como muitas empresas encontraram um modelo de negócios para viver de SL, também é possível fazer o mesmo com REA enquadrado nesta definição... Ou também o REA pode ser para organizações educacionais que visam lucro, o mesmo que Softwares Livres de base, como linguagens, bibliotecas, frameworks, navegadores, SOs, etc, são para empresas do vale do silício, ou software houses do seu bairro. Todos colaboram no que seria um custo individual pesado, mas que não é o seu diferencial perante o público.
            p &rarr;
            p A definição de livre é menos específica que a definição de aberto, mas são basicamante a mesma coisa, assim como a definição da FSF é menos específica que a definição da OSI, o site freedomdefined.org é citado pela Creative Commons em sua definição de "Tabalho Cultural Livre". Você também pode encontrar a mesma referencia em outros sites que promovem REA, por isso é importante citar aqui.
            p QUIZ 5
            p QUIZ 6
            p No DACOMP, diretório acadêmico de computação, da UFBA, em 2mil e pouco, tivemos uma experiência licenciando uma cartilha sobre SL com uma cláusula de "não comercial", isso porque conheciamos os cursinhos de informática e sabiamos que imprimiam textos copiados da internet como material didático de cursos bem pagos. Isso acabou criando um conflito interessante quando recebemos um e-mail agressivo de um DA de outro estado reclamando que a nossa licença os impedia de vender a cartilha para financia-los. Veja só... Nem sabiamos que eles existiam, eles nunca colaboraram, mas se sentiam no direito de "lucrar" com o nosso trabalho.
            p Isso é algo a se considerar... Cláusulas não comerciais quebram a definição de livre, então seria compartilhavel e favoreceria a colaboração, mas não seria REA. Certamente essa cláusula seria negativa para projetos de software, pois são ferramentas, mas eu não acho absurdo considera-la pra produtos que são um fim em sí mesmos. Afinal, que tipo de cultura estaremos promovendo? Eu não tenho uma boa resposta pra isso.

    #licencas2.spoiller.step(data-x="1920" data-y="-530" data-rotate-z="-30" data-scale=".6")
        h2 Licenças populares, aplicações e segurança jurídica.
        .center
            b GPL
            b LGPL
            b AGPL
            b MIT
            b Apache 2
            b MPL 2
            b FDL 1.3
            b CC
              strong ?
        .notes
            p Essa é a lista de licenças que vejo com mais frequência. Nesse caso infelizmente não tenho uma pesquisa ou artigo para me embasar e vocês terão que levar a minha experiência pessoal como um filtro aceitável da realidade.
            p Falando sério, felizmente o número de licenças relevantes se tornou menor, com o tempo, já que as outras foram diluídas em casos raríssimos ou estão em desuso.
            p A algumas décadas atras corremos um sério risco de ter um ambiente poluído com licenças diferentes e pouco testadas pela realidade, porque em algum momento a OSI decidiu investir na proliferação de licenças. Aquela foi uma estratégia para atrair mais empresas para o Open Source, mas o resultado poderia ser um ambiente de incerteza, onde, ao se descobrir uma brecha em uma licença, alguns mal intencionados poderiam violar liberdades dessas e outras similares. Por esse motivo mesmo a FSF decidiu não reconhecer traduções da GPL em outras línguas como licenças compativeis, pois uma que falhase pemitiria a violação de suas clausulas em todo software licenciado sob GPL no mundo, já que os mal intencionados poderiam relicencia-los sob a versão falhada.
            p Antes de comentar cada licença, respondam esse quiz:
            p QUIZ 7
            p copyleft não é o que dizem...
            p Então... Sobre essas licenças...

    #cc.spoiller.center.step(data-x="1900" data-y="0" data-rotate-z="0" data-scale=".55")
        h3 Creative Commons é compatível com REA?
        img(src="cc_license_spectrum.svg" height="700")
        .notes
            p Depende. Porque CC não é uma licença, é um projeto que tenta solucionar problemas de permissão, para simplificar o compartilhamanto e a colaboração.
            p ...
            p QUIZ 8

    #remix.spoiller.step(data-x="-1200" data-y="200" data-rotate-z="0" data-scale=".7")
        h2 Remix e compatibilidade de licenças.
        .notes
            p As vezes nosso trabalho é fruto de uma grande mescla de fontes com licenças diferentes. As vezes essas licenças não são compativeis entre sí, então você simplesmsnte não pode publicar esse trabalho.
            p Felizmente o mundo evoluiu para uma coleção mais restrita de fontes e algumas frazem citação explícita de compatibilidade entre sí. Produtos MPL 2 podem ser incorporados em produtos GPL, GPLv3 pode ser incorporada em AGPLv3.
            p E é aqui que as licenças sem copyleft brilham. Você pode relicenciar seus produtos livremente, o que significa que podem ser reusados em REA sob qq outra licença. (E até mesmo em não rea, produtos fechados, o que é o lado ruim)

    #autoria.spoiller.step(data-x="-1100" data-y="600" data-rotate-z="-45" data-scale=".7")
        h2 Autoria coletiva = Copyright coletivo?
        .notes
            p Exatamente. Mas lembre-se de que vários professores colaborando na produção de um recurso educacional como parte de seu trabalho contratado pela escola, não é autoria coletiva no sentido do copyright. Nesse caso a escola detem exclusivamente o copyright. Inclusive foi por isso mesmo que Stallman se demitiu do MIT quando decidiu iniciar o projeto GNU. Ele não queria correr o risco de que em algum momento a universidade se lançasse numa batalha jurítica para tomar os direitos sobre o GNU e remover a licença livre.
            p A grande maioria dos SLs são fruto de autoria coletiva. Um ponto negativo (ou positivo, depende...) é que todos os autores devem concordar com o licenciamento e eventualamnte com a mudança da licença. A aprovação inicial é orgânica, pois o novo contribuidor, ao contribuir sob a licença presente, ele a aceita automaticamente. A mudança da licença é tão difícil quanto a popularidade do projeto, afinal seria necessário obter a aceitação de todos que contribuiram e boa parte não passa de um login anônimo.
            p As vezes o projeto é encabeçado por uma empresa, que quer manter o copyright exclusivo sobre o projeto. Nesse caso é comum ter que aceitar uma clusula de cessão de direitos para consigir submeter uma contribuição. Eu fiz isso duas vezes para a Google, contribuindo no Golang e no Fontbakery. Não gosto disso, mas para mim aquelas contribuições seriam mais positivas que a luta contra o controle corporativo do mundo (que faz parte da minha escala de valores).

    #multi.spoiller.step(data-x="-700" data-y="700" data-rotate-z="-90" data-scale=".7")
        h2 Multi-licensing ajuda ou atrapalha?
        .notes
            p Essa prática também é conhecida como "dual licencing", porque em geral duas licenças são suficiente para atingir certos objetivos. Isso não é um convite para que vocês licenciem com duas licenças livres para facilitar o remix. Na prática a licença com copyleft mais fraco é a mais remixavel e ela seria o suficiente nesse caso.
            p Além disso dual licencing com licenças livres costumam confundir os usuários. Já me perguntaram algumas vezes se seria necessário respeitar os requisitos das duas licenças no trabalho ou se seria necessário publicar o trabalho derivado sob aquelas duas.
            p Multi-licensing atualmente se restringiu ao uso que considero ser o mais útil: uma licença livre, com copyleft, que permite difusão e colaboração e uma que permita usos restritivos, mediante pagamento, que frequentemente são do interesse de alguma empresa.
            p Não vim falar de modelos de negócios, mas essa poderia ser uma das formas de financiar empreendimentos produtores de REA, onde seus produtos poderiam ser usados por estudantes de baixa renda, mas também poderiam ser incorporados em apostilas fechadas de grandes grupos educacionais e escolas elitizadas. Mas isso é outra conversa.
            p QUIZ 9

    #aplicar.spoiller.step(data-x="-300" data-y="600" data-rotate-z="-135" data-scale=".7")
        h2 Como aplicar?
        .in-step Em software
        .in-step Em mídias
        .notes
            p Essa é a parte fácil. Se você já sabe que licença usar, você deve explicita-la de alguma forma na sua obra ou em algo que a acompanha.
            p &rarr;
            p Em software...
            p &rarr;
            p Em mídia...

    #fim.spoiller.full.center.step(data-x="0" data-y="0" data-scale="3")
        h2 Perguntas?
        #bibli Bibliografia:
            li https://opendefinition.org
            li https://unesdoc.unesco.org/ark:/48223/pf0000232852
            li https://www.gnu.org/philosophy/free-sw.pt-br.html
            li https://www.gnu.org/philosophy/open-source-misses-the-point.html
            li https://news.slashdot.org/story/99/02/18/0927202/bruce-perens-resigns-from-osi
            li https://www.gnu.org/licenses/license-list.html
            li http://www.gnu.org/licenses/gpl-howto.html
            li https://creativecommons.org/about/videos
            li https://duallicensing.com
            li http://www.unesco.org/new/fileadmin/MULTIMEDIA/HQ/CI/CI/pdf/Events/Portuguese_Paris_OER_Declaration.pdf
            li https://www.spiegel.de/international/zeitgeist/no-copyright-law-the-real-reason-for-germany-s-industrial-expansion-a-710976.html
        - ccIconDir = 'https://mirrors.creativecommons.org/presskit/icons/'
        .it-is-free &copy; 2021 Aurélio A. Heckert&nbsp;
            a(href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank")
                em "Some Rights Reserved"
                img(alt="CC" src=ccIconDir+'cc.png')
                img(alt="By" src=ccIconDir+'by.png')
                img(alt="SA" src=ccIconDir+'sa.png')
        a.aurium(href="http://aurium.one") http://<strong>Aurium.one</strong>
