#ini
    &.past
        opacity: 0
        .impress-on-fim &, &.active
            opacity: 1
    h1
        white-space: nowrap
        transition: 1s
        .impress-on-fim &
            transform: scale(3)

.split-step--pra-que
    padding-bottom: 300px
    h2
        font-size: 120px
        margin: 0 0 400px 0
        margin: 0 0 50px 0
        white-space: nowrap
        transform: scale(.6)
        transition: 2s .5s
    div
        white-space: nowrap
        position: absolute
        right: 1200px
        top: 150px
        opacity: 0
        transition: 1.5s 2s
    .impress-on--split--pra-que &
        h2
            transform: scale(1.3)
        div
            right: 0
            opacity: 1

#copyright::before, #copyright::after
    content: ""
    display: block
    position: absolute
    top: -100px
    bottom: -100px
    left: -300px
    right: -300px
    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat
    opacity: 0
    z-index: -1
    transition: 2s
#copyright::before
    background-image: url(pirata.webp)
#copyright::after
    background-image: url(US_copyright_term_over_time.svg)
.impress-on-copyright--exclusiv #copyright::before
    opacity: 1
.impress-on-copyright--mickey #copyright::after
    opacity: 1
.split-step--copyright
    h2 big
      font-size: 2.5em
      line-height: .15em
      position: relative
      top: .15em
    hr
        border: none
        height: 200px
    li.cur-in-step
        transition: 1s
    &.present li.cur-in-step
        text-shadow: 0 0 8px #FF0, 0 0 30px #FFF, 0 0 30px #FFF, 0 0 30px #FFF, 0 0 30px #FFF, 0 0 30px #FFF, 0 0 30px #FFF, 0 0 30px #FFF

.split-step--licencas1 li
    font-size: .666em
    line-height: 1em

#licencas2
    .center
        width: 15em
    b
        display: inline-block
        padding: .5em 1em

#cc h3
    margin: 0

#fim
    opacity: 0
    pointer-events: none
    &.present
        pointer-events: all
    h2
        position: absolute
        top: -1em
    .it-is-free
        position: absolute
        left: -80px
        bottom: -30px
        font-size: .5em
        img
            height: 1em
            vertical-align: middle
            margin-left: .1em
    .aurium
        position: absolute
        right: -80px
        bottom: -30px
        font-size: .8em

#bibli
  text-align: left
  font-size: 0.3em
  position: absolute
  left: -150px
  bottom: 20px
  opacity: 0.4
  transition: 1.2s
  &:hover
    transition: .6s
    opacity: 1
    text-shadow: 0 0 .5em #AAA, 0 0 .5em #AAA, 0 0 .5em #AAA, 0 0 .5em #AAA, 0 0 .5em #AAA

.impress-on-fim
    .spoiller, #fim
        opacity: 1
